DJANGO_DEBUG=True
DJANGO_SECRET_KEY=replace_me

HUGGINGFACE_ACCESS_TOKEN=hf_your_token

POSTGRES_DB=macaw_transcribe
POSTGRES_USER=macaw_user
POSTGRES_PASSWORD=replace_me
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=replace_me
REDIS_DB=0